body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  max-width: 50px;
}

.app {
  display: flex;
  flex-flow: column;
  align-content: start;
  align-items: center;
}

.header {
    margin: 0.5em;
    font-size: 2em;
    align-self: center;
}

.event-list {
    font-size: 1em;
    text-align: left;
}

.event-item {
  display: flex;
  flex-flow: row;
  align-content: start;
  align-items: center;
}

.event-avatar {
    min-width: 50px;
    flex: initial;
}

.event-actor {
  flex: none;
  padding: 0 0.5em 0 0.5em;
}

.event-repo {
  flex: 6 1 100%;
  padding: 0 0.5em 0 0.5em;
}

.event-datetime {
  flex: none;
  text-align: center;
  padding: 0 0.5em 0 0.5em;
}

.event-date {
  flex: none;
  padding-left: 0.3em;  
}

.event-type {
  flex: none;
  padding: 0 0.5em 0 0.5em;
}

.event-ReleaseEvent {
    background-color: lightGreen;
}

.event-PullRequestEvent {
    background-color: orange;
}

.event-CreateEvent {
    background-color: lightGray;
}

.event-PushEvent {
    background-color: lightYellow;
}

@media all and (max-width: 800px) {

  body {
    font-size: 12px;
  }

  .event-actor {
    display: none;
  }

  .event-date {
    display: none;
  } 

}
