.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.card-login.mdl-card {
  width: 300px;
  height: 300px;
}
.card-login > .mdl-card__actions {
  border-color: rgba(0, 0, 0, 0.2);
}
.card-login > .mdl-card__title {
  align-items: flex-start;
}
.card-login > .mdl-card__title > h4 {
  margin-top: 0;
}
.card-login > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.card-login > .mdl-card__actions > .fab {
  padding-right: 10px;
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 10px;
}

.card-event.mdl-card {
  flex: 1 1 content;
  height: 10rem;
  width: 12rem;
  background: white;
  margin: 10px;
}
.card-event > .mdl-card__supporting-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10px 10px 0 10px;
  background-size: 3rem;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: right 0.7rem bottom 1.6rem;
}
.card-event > .mdl-card__actions {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-top: solid 1px rgb(63,81,181);
}
.card-event-datetime {
  color: gray;          
}
.card-event-repo {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  padding-top: 0.5rem;
  flex: 2 1 3rem;
}
.card-event-actor {
  font-size: 0.8rem;
  color: gray;
  padding-bottom: 2px;
  align-self: flex-end;
}
.card-event-type {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(63,81,181);
}
.card-event-time {
  padding-right: 0.4rem;
}