body {
  background-color: aliceblue;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.card-login.mdl-card {
  width: 300px;
}
.card-login > .mdl-card__actions {
  border-color: rgba(0, 0, 0, 0.2);
}
.card-login > .mdl-card__title {
  align-items: flex-start;
}
.card-login > .mdl-card__title > h4 {
  margin-top: 0;
}
.card-login > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.card-login > .mdl-card__actions > .fab {
  padding-right: 10px;
}
.card-login .is-current-source {
  color: green!important;
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 10px;
}

header.mdl-layout__header {
  min-height: 56px;
}

.mdl-layout__header-row {
  height: 56px;
}

.mdl-layout__header > .mdl-layout-icon {
  font-size: 30px;
  top: 18px;
  left: 18px;
  overflow: visible;
}

.card-event.mdl-card {
  flex: 1 1 auto;
  height: 15rem;
  width: 15rem;
  background: white;
  margin: 10px;
}
.card-event > .mdl-card__supporting-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 5px 10px 5px 10px;
  background-size: 3rem;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: right 2px top 2px;
  overflow: scroll;
}
.card-event > .mdl-card__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  background-color: white;
  color: rgb(63,81,181);
  border-top-style: solid;
  border-top-width: 1px;
}
.card-event-datetime {
  color: gray;
  padding-top: 7px;
}
.card-event-repo {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 0.2rem;
  flex: 0 0 auto;
}
.card-event-actor {
  font-size: 0.8rem;
  color: gray;
  padding-right: 40px;
  align-self: flex-end;
}
.card-event-type {
  font-size: 1rem;
  font-weight: bold;
}
.card-event-time {
  padding-right: 0.4rem;
}
.card-event-content {
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 0.9rem;
  padding: 0.3rem 0;
  color: black;
}
.card-event-content-header {
  flex: initial;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 0.9rem;
}
.card-event-content-body {
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  font-size: 0.9rem;
  padding: 0.3rem 7px;
  hyphens: auto;
}
.card-event-content-body__center {
  align-content: center!important;
}
.card-event > .event-pull-request-merged {
  color: greenyellow;
  border-left: greenyellow 12px solid;
  border-right: greenyellow 12px solid;
  background-color: black;
  border-top-width: 1px;
}
.card-event.event-pull-request-merged {
  background-color: greenyellow;
}
.card-event > .event-pull-request-opened {
  color: black;
  border-left: white 12px solid;
  border-right: white 12px solid;
  background-color: greenyellow;
  border-top-width: 0;
}
.card-event > .event-pull-request-rejected {
  color: white;
  border-left: white 12px solid;
  border-right: white 12px solid;
  background-color: black;
  border-top-width: 0;
}
.card-event.event-release-published {
  background-color: yellow;
}
.card-event.event-release-published .cb-big {
  color: black;
  text-shadow: 2px 2px 2px yellowgreen;
  font-size: 2.5rem;
  font-weight: bold;
}
.card-event > .event-release-published {
  color: black;
  background-color: yellow;
}
.card-event > .event-push {
  color: white;
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQYV2O0D9z6P8DpHwMMMPZP3vwfzmNgYIALbNjHxABSiaECAD8sD1V4nxtEAAAAAElFTkSuQmCC
  ) repeat;
}
.card-event > .event-create {
  color: darkgreen;
}
.card-event > .event-delete {
  color: darkred;
}

.left-spaced {
    padding-left: 1rem;
}

.spaced {
  padding-right: 1px;
  padding-left: 4px;
}

.mdl-layout__header-row {
  padding-left: 60px;
}

.ch-number {
  color: darkviolet;
}

.ch-commits {
  color: blue;
}

.ch-files {
  color: #8f93b3;
}

.ch-added {
  color: green;
}

.ch-deleted {
  color: red;
}

.ch-refs {
  color: #8f93b3;
  font-size: 0.9rem;
  overflow: hidden;
}

.cb-msg {
  font-style: italic;
}

.cb-title {
  font-style: normal;
  font-size: 1rem;
}

.cb-big {
  text-align: center;
}

.pull-request-ref {
  color: #8f93b3;
  font-size:0.8rem;
  padding-left: 5px;
}
.commit-sha {
  color: #8f93b3;
}
.waiting-for-content {
  flex: auto;
  align-self: center;
  font-size: 300px;
  color: #ced3f4;
  line-height: normal;
  text-align: center;
}

.search-box {
  flex: auto;
}

.search-label {
  font-size: 0.8rem;
  align-self: flex-start;
}

.search-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
  margin: 0 0 8px 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {

  .left-spaced {
    padding: 0 0.5rem;
  }

  .button-text {
    display: none;
  }

  .mdl-button {
    min-width: 0;
    padding: 0 4px;
  }

  .mdl-navigation i.mdi {
    font-size: 150%;
  }

}